@* Обязательно для вызова метода Dispose, иначе метод вызываться не будет *@
@implements IDisposable


<div class="card shadow border-left-info py-2">
    <div class="card-body">
        <div class="row align-items-center no-gutters">
            <div class="col mr-2">
                <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Рост доходов</span></div>
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>@earningsTable.EarningsGrowth%</span></div>
                    </div>
                    <div class="col">
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-info" style="width: @earningsTable.EarningsGrowth%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
        </div>
    </div>
</div>
@code {

    [Parameter]
    public Models.EarningsTable earningsTable { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            earningsTable.UpdateEvent += UpdateDB;
        }
    }


    public async void UpdateDB(object sender)
    {
        // Обновление компонента после посчета итогов.
        await InvokeAsync(() => StateHasChanged());
    }


    // Очистка перед удалением компонента
    public void Dispose()
    {
        earningsTable.UpdateEvent -= UpdateDB;
    }

}
